<div class="input-group" style="width:10em;">
  {{input value=view.valueAsDate class="datepicker"
          data-provide="datepicker"
          data-date-format="dd.mm.yyyy"}}
  <span class="input-group-addon">
    <i class="glyphicon glyphicon-calendar"></i>
  </span>
</div>